<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/menu :: menu}"></div>
    <div class="row"><h2>Curve Point List</h2></div>
    <div class="row">
        <a class="btn btn-primary btn-sm" href="/curvePoint/add" sec:authorize="hasAuthority('ADD_PRIVILEGE')">Add
            New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>CurvePointId</th>
                <th>Term</th>
                <th>Value</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="curvePoint : ${curvePoints}">
                <td style="width: 10%" th:text="${curvePoint.id}"></td>
                <td th:text="${curvePoint.curveId}"></td>
                <td th:text="${curvePoint.term}"></td>
                <td th:text="${curvePoint.pointValue}"></td>
                <td class="text-center" style="width: 15%">
                    <a sec:authorize="hasAuthority('UPDATE_PRIVILEGE')"
                       th:href="@{/curvePoint/update/{id}(id=${curvePoint.id})}">Edit</a>&nbsp;|&nbsp;
                    <a sec:authorize="hasAuthority('DELETE_PRIVILEGE')"
                       th:href="@{/curvePoint/delete/{id}(id=${curvePoint.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>