<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/menu :: menu}"></div>
    <div class="row"><h2>User List</h2></div>
    <div class="row">
        <a class="btn btn-primary btn-sm" href="/user/add" sec:authorize="hasAuthority('USER_MANAGEMENT')">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td style="width: 10%" th:text="${user.id}"></td>
                <td th:text="${user.fullname}"></td>
                <td th:text="${user.username}"></td>
                <td style="width: 25%" th:text="${user.role}"></td>
                <td class="text-center" style="width: 15%">
                    <a sec:authorize="hasAuthority('USER_MANAGEMENT')"
                       th:href="@{/user/update/{id}(id=${user.id})}">Edit</a>&nbsp;|&nbsp;
                    <a sec:authorize="hasRole('ADMIN')"
                       th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <p th:if="${errorMessage != null}" th:text="${errorMessage}" class="error"></p>
    </div>
</div>
</body>
</html>