<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
    <div class="row">
        <div class="col-6">
            <a href="/">Home</a>
            <a href="/bidList/list" sec:authorize="isAuthenticated()">Bid List</a>
            <a href="/curvePoint/list" sec:authorize="isAuthenticated()">Curve Points</a>
            <a href="/rating/list" sec:authorize="isAuthenticated()">Ratings</a>
            <a href="/trade/list" sec:authorize="isAuthenticated()">Trade</a>
            <a href="/ruleName/list" sec:authorize="isAuthenticated()">Rule</a>
            <a href="/user/list" sec:authorize="hasAuthority('USER_MANAGEMENT')">Users</a>
        </div>
        <div class="col-6 text-right">
            <div sec:authorize="isAuthenticated()">Logged in user: <b><span sec:authentication="name"></span></b>
                <form method="POST" th:action="@{/logout}">
                    <input type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
