<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot</title>
</head>
<body>
<h3>Error 500</h3>
<div>
    <div sec:authorize="isAuthenticated()">Logged in user: <b><span sec:authentication="name"></span></b></div>
</div>
<p class="error">The server encountered an internal error and was unable to complete your request.</p>
</body>
</html>