<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h3> HOME PAGE </h3>
<p>
    <a href="/app/login">Login</a>
    <div sec:authorize="hasRole('ADMIN')">
    or create one <a href="/user/list">User management</a>
    </div>
</p>
</body>
</html>