<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Spring Boot </title>
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body>
<h3> Custom Login Page </h3>
<form method="post" th:action="@{/app/login}">
    <label for="username">Username</label>: <input autofocus="autofocus"
                                                   id="username" name="username" type="text"/> <label
        for="password">Password</label>: <input id="password" name="password"
                                                type="password"/><input type="submit" value="Log in"/>
</form>
</body>
</html>