<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/menu :: menu}"></div>
    <div class="row"><h2>Trade List</h2></div>
    <div class="row">
        <a sec:authorize="hasAuthority('ADD_PRIVILEGE')" class="btn btn-primary btn-sm" href="/trade/add">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Buy Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="trade : ${trades}">
                <td style="width: 10%" th:text="${trade.id}"></td>
                <td th:text="${trade.account}"></td>
                <td th:text="${trade.type}"></td>
                <td th:text="${trade.buyQuantity}"></td>
                <td class="text-center" style="width: 15%">
                    <a th:href="@{/trade/update/{id}(id=${trade.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/trade/delete/{id}(id=${trade.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>