<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <div th:replace="~{fragments/header :: header-css}"></div>
</head>
<body>
<div class="container">
    <div th:replace="~{fragments/menu :: menu}"></div>
    <div class="row"><h2>Bid List</h2></div>
    <div class="row">
        <a class="btn btn-primary btn-sm" href="/bidList/add" sec:authorize="hasAuthority('ADD_PRIVILEGE')">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Account</th>
                <th>Type</th>
                <th>Bid Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bidList : ${bidLists}">
                <td style="width: 10%" th:text="${bidList.bidListId}"></td>
                <td th:text="${bidList.account}"></td>
                <td th:text="${bidList.type}"></td>
                <td th:text="${bidList.bidQuantity}"></td>
                <td class="text-center" style="width: 15%">
                    <a sec:authorize="hasAuthority('UPDATE_PRIVILEGE')"
                       th:href="@{/bidList/update/{id}(id=${bidList.bidListId})}">Edit</a>&nbsp;|&nbsp;
                    <a sec:authorize="hasAuthority('DELETE_PRIVILEGE')"
                       th:href="@{/bidList/delete/{id}(id=${bidList.bidListId})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>